 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Technology Stack</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <i class="devicon-java-plain"></i>
                    <i class="devicon-javascript-plain"></i>
                    <i class="devicon-jquery-plain"></i>
                </div>
                <div class="col-md-12">
                    <i class="devicon-html5-plain"></i>
                    <i class="devicon-css3-plain"></i>
                    <i class="devicon-react-original"></i>
                </div>
                <div class="col-md-12">
                    <i class="devicon-oracle-original"></i>
                    <i class="devicon-mysql-plain"></i>
                    <i class="devicon-git-plain"></i>
                </div>
            </div>
         
        </div>
    </section>
