 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row services">
                <!--contact me phone -->
                <div class="col-md-12">
                  <div class="service">
                    <div class="icon-holder">
                        <i class="devicon-java-plain"></i>
                    </div>
                    <h4 class="heading text-center">JAVA</h4>
                  </div>
                </div>
                <!--contact me email-->
                <div class="col-md-12">
                  <div class="service">
                    <div class="icon-holder">
                        <i class="devicon-javascript-plain"></i>
                    </div>
                    <h4 class="heading text-center">javascript</h4>
                  </div>
                </div>
                <div class="col-md-12">
                    <div class="service">
                      <div class="icon-holder">
                          <i class="devicon-jquery-plain"></i>
                      </div>
                      <h4 class="heading text-center">jquery</h4>
                    </div>
                  </div>
              </div>
        </div>
    </section>
