 <!-- Contact Section -->
 <section id="contact">
    <div class="container">
      
      <!--Contact me heading -->
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Contact Me</h2>
          <hr class="star-primary">
        </div>
      </div>
      <!-- Contact me content -->
      <div class="row services">
        <!--contact me phone -->
        <div class="col-md-6">
          <div class="service">
            <div class="icon-holder">
              <img src="img/phone-O.png" alt="Call Me" class="img-responsive img-centered">
            </div>
            <h4 class="heading text-center">Call At...</h4>
            <p class="description text-primary text-center"> +82 10 4504 9209</p>
          </div>
        </div>
        <!--contact me email-->
        <div class="col-md-6">
          <div class="service">
            <div class="icon-holder">
              <img src="img/email.png" alt="E-mail Me" class="img-responsive img-centered">
            </div>
            <h4 class="heading text-center">E-mail At...</h4>
            <p class="description text-primary text-center">kimnsunnie@gmail.com</p>
          </div>
        </div>
      </div>


    </div>


  </section>