{% if site.social.email %}
<li>
  <a href="mailto:{{ site.author.email }}" title="email">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
{% endif %}

{% if site.social.github %}
<li>
  <a href="https://github.com/{{ site.social.github }}" title="{{ site.social.default_txt }} GitHub">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fab fa-github fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
{% endif %}

{% if site.social.velog %}
<li>
  <a href="https://velog.io/@{{ site.social.velog }}" title="{{ site.social.default_txt }} velog">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fab fa-vimeo fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
{% endif %}

{% if site.social.linkedin %}
<li>
  <a href="{{ site.social.linkedin }}" title="{{ site.social.default_txt }} LinkedIn">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
{% endif %}

{% if site.social.gitlab %}
<li>
  <a href="https://gitlab.com/{{ site.social.gitlab }}" title="{{ site.social.default_txt }} Gitlab">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fab fa-gitlab fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
{% endif %}

{% if site.social.vimeo %}
<li>
  <a href="https://vimeo.com/{{ site.social.vimeo }}" title="{{ site.social.default_txt }} Vimeo" class="type">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fab fa-vimeo fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
{% endif %}
